

{{#with diet}}

<div class="containergaindiet">

<br>

<div class="herznaetkaknazvat">
<div class="dietoutput">

<h4>Daily amount of calories: {{caloriesSum}}</h4>
<h4>Daily amount of proteins: {{proteinsSum}}</h4>
<h4>Daily amount of fats: {{fatsSum}}</h4>
<h4>Daily amount of carbs: {{carbsSum}}</h4>

</div>

<div class="buttonhome">
<form action="/home" method="POST">
  <button class="buttonhomehome">Home</button>
</form>
</div>

</div>

<hr>

<div class="containergain">

<div>

<ul> Monday:
  <li>Breakfast: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{buckwheatPortionLunch}} g of buckwheat, {{tunaPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Tuesday:
  <li>Breakfast: {{ricePortionBreakfast}} g of rice, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{noodlesPortionLunch}} g of noodles, {{chickenBreastPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Wednesday:
  <li>Breakfast: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{buckwheatPortionLunch}} g of buckwheat, {{tunaPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Thursday:
  <li>Breakfast: {{ricePortionBreakfast}} g of rice, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{noodlesPortionLunch}} g of noodles, {{chickenBreastPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Friday:
  <li>Breakfast: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{buckwheatPortionLunch}} g of buckwheat, {{tunaPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Saturday:
  <li>Breakfast: {{ricePortionBreakfast}} g of rice, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{noodlesPortionLunch}} g of noodles, {{chickenBreastPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Sunday:
  <li>Breakfast: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs, veggies</li>
  <li>Lunch: {{buckwheatPortionLunch}} g of buckwheat, {{tunaPortionLunch}} g of tuna, veggies</li>
  <li>Supper: {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<h4>Thanks to our cookers!!! &#10084; </h4>

</div>

<div class="photobodybuilder">
  <img id="arniveg" src="https://hi-news.ru/wp-content/uploads/2019/11/vegetables_image_two.jpg" alt="">
</div>

</div>

{{/with}}
