
{{#with diet}}


<div class="containergaindiet">

<br>

<div class="herznaetkaknazvat">
<div class="dietoutput">

<h4>Daily amount of calories: {{caloriesSum}}</h4>
<h4>Daily amount of proteins: {{proteinsSum}}</h4>
<h4>Daily amount of fats: {{fatsSum}}</h4>
<h4>Daily amount of carbs: {{carbsSum}}</h4>

</div>

<div class="buttonhome">
<form action="/home" method="POST">
  <button class="buttonhomehome">Home</button>
</form>
</div>

</div>

<hr>

<div class="containergain">

<div>

<ul> Monday:
  <li>1st meal: {{buckwheatPortionBreakfast}} g of buckwheat, {{chickenBreastPortionBreakfast}} g of chicken breast</li>
  <li>2nd meal: {{ricetPortionLunch}} g of rice, {{turkeyPortionLunch}} g of turkey breast, veggies</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{chickenBreastPortionLunch}} g of chicken breasts</li>
  <li>4th mael: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of rice, {{chickenBreastPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Tuesday:
  <li>1st meal: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs</li>
  <li>2nd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{turkeyPortionLunch}} g of turkey breast</li>
  <li>4th mael: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of buckwheat, {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Wednesday:
  <li>1st meal: {{buckwheatPortionBreakfast}} g of buckwheat, {{chickenBreastPortionBreakfast}} g of chicken breast</li>
  <li>2nd meal: {{ricetPortionLunch}} g of rice, {{turkeyPortionLunch}} g of turkey breast, veggies</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{chickenBreastPortionLunch}} g of chicken breasts</li>
  <li>4th mael: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of rice, {{chickenBreastPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Thursday:
  <li>1st meal: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs</li>
  <li>2nd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breas, veggiest</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{turkeyPortionLunch}} g of turkey breast</li>
  <li>4th mael: {{ricePortionLunch}} g of rice, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of buckwheat, {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Friday:
  <li>1st meal: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs</li>
  <li>2nd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{turkeyPortionLunch}} g of turkey breast, veggies</li>
  <li>4th mael: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of buckwheat, {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Saturday:
  <li>1st meal: {{oatwheatPortionBreakfast}} g of oatwheat, {{eggsPortionBreakfast}} g of eggs</li>
  <li>2nd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>3rd meal: {{noodlesPortionLunch}} g of noodles, {{turkeyPortionLunch}} g of turkey breast</li>
  <li>4th mael: {{ricePortionLunch}} g of rice, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of buckwheat, {{curdPortionSupper}} g of curd</li>
</ul>

<br>

<ul> Sunday:
  <li>1st meal: {{buckwheatPortionBreakfast}} g of buckwheat, {{chickenBreastPortionBreakfast}} g of chicken breast</li>
  <li>2nd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>3rd meal: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast</li>
  <li>4th mael: {{buckwheatPortionLunch}} g of buckwheat, {{chickenBreastPortionLunch}} g of chicken breast, veggies</li>
  <li>5th meal: {{buckwheatPortionSupper}} g of buckwheat, {{chickenBreastPortionSupper}} g of chicken breast</li>
</ul>

<br>

<h4>Thanks to our cookers!!! &#10084; </h4>

</div>

<div class="photobodybuilder">
  <img id="arni" src="https://www.fotoprizer.ru/img/3047_orig.jpg" alt="">
</div>

</div>

{{/with}}

